:root {
    --title-color: rgb(1, 1, 165);
    --button-background: rgb(255, 137, 94);
    --button-shadow:  rgb(134, 97, 85);
    --button-text: black;
    --button-hover: rgb(78, 6, 6);
    --heading-color: rgba(131, 44, 23, 0.897);
}

body {
    gap: 2vh;
    max-width: 1560px;
}

#sub-heading {
    color: rgb(90, 90, 250);
    justify-content: center;
}

main {
    display: flex;

}

#main-view {
    display: flex;
}


nav {
    padding-top: 0px;
    flex-grow: 0;
    justify-self: start;
    margin-left: auto;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'create open play'
                          'reset gen gen'
                          'list list list';
    height: fit-content;
}

#create {
    grid-area: create;
}

#open {
    grid-area: open;
}

#play {
    grid-area: play;
}

#reset {
    grid-area: reset;
}

#puzzle-list {
    grid-area: list;
}

.btn {
    font-size: 20px;
    background-color: rgb(255, 137, 94);
    border-radius: 30%;
    opacity: 50%;
    width: 100px;
    height: 100px;
    
    box-shadow: 5px 10px rgb(134, 97, 85);
    margin-right: 10px;
    padding-top: 20px;
    margin-bottom: 0px;
}

.btn:hover {
    background-color: rgba(95, 95, 252, 0.322);
    color:var(--button-hover);
    opacity: 50%;
    cursor: pointer;
   
}

a:hover {
    color:var(--button-hover);
    opacity: 50%;
    cursor: pointer;
}

.row-2 {
    margin-top: 20px;
    background-color: rgb(255, 137, 30);
}

#generate {
    grid-area: gen;
    width: 200px;
    height: 200px;
    border-radius: 25%;
    box-shadow: 5px 10px rgb(134, 97, 85);
    /* margin-left: 15px; */
    /* margin-top: 20px; */
    padding-top: 15px;
    /* background-color: rgb(255, 137, 30); */
    opacity: 50%;
}

#generate img {
    width: 100px;
    margin-left: 50px;
    
}

#generate h3 {
    margin-bottom: 0px;
    font-size: 30px;
}

#generate:hover {
    background-color:rgb(255, 137, 180)
}

#list-header {
    margin-top: 50px;
}

.puzzle-word {
    margin-top: 0px;
    margin-bottom: 0px;
}

nav img {
    width: 50px;
    margin-left: 25px;
}




h3 {
    margin-top: 0px;
}

#arrow {
    margin-left: 400px;
    margin-right: 0px;
    width: 500px;
    text-align: right;
}


#main-window {
    display: flex;
    flex-direction: column;
}

#puzzle-creator {
    justify-content: flex-start;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.display-inline {
    display: inline;
}

#puzzle-opener {
    flex-grow: 1;
}

#config {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
}



.hideable {
    visibility: hidden;
    display: none;
    /* height: 0px; */
    
}

@keyframes reveal {
    0% {opacity: 0%;}
    100% {opacity: 100%;} 
}

@keyframes reveal-to-50 {
    0% {opacity: 0%;}
    100% {opacity: 50%;} 
}

.on-screen {
    visibility: visible;
    animation-name: reveal;
    animation-duration: 300ms;
}

.fade-in-button {
    visibility: visible;
    animation-name: reveal-to-50;
    animation-duration: 300ms;
}




#form-title {
    border-bottom: solid rgba(128, 128, 128, 0.397);
    padding-bottom: 20px;
    
}

#word-directions {
    border-bottom: solid rgba(128, 128, 128, 0.397);
    padding-bottom: 10px;
    
}

#dimensions {
    border-bottom: solid rgba(128, 128, 128, 0.397);
    padding-bottom: 20px;
    
}

.field:hover {
    background-color: rgba(95, 194, 252, 0.37)
}

.derived h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    color:rgb(112, 30, 30);
}





#gray-word {
    opacity: 50%;
}

.field {
    background-color: var(--button-background);
    font-size: 20px;
    background-color: rgb(255, 137, 94);
    border: none;
    border-radius: 10%;
    opacity: 80%;
    color: var(--button-text);
    
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 3px 3px rgb(134, 97, 85);
}

#dimensions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.xy {
     width: 60px;
     height: 40px;
     font-size: 30px;
     color: rgb(92, 92, 92);
     
     text-align: center;
}

form {
    margin-left: 20px;
}

.form-heading {
    text-align: center;
}

::placeholder {
    color: rgba(0, 0, 0, 0.507);
}

#config h2 {
    margin-bottom: 0px;
    color: var(--heading-color);
}

#word-list h2 {
    margin-bottom: 0px;
    color: var(--heading-color);
    
}

#list {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

select {
    width: 250px;
    height: 80px;
    
    white-space: pre-line

}

#direction-choice {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.801);
}

td {
    margin-bottom: 30px;
    text-align: center;
    color:var(--heading-color);
}

th {
    color:var(--heading-color);
}


.title-column {
    width: 300px;
}

.diff-column {
    width: 300px;
}

#puzzles:hover {
    cursor: pointer;
}

.medium-column {
    width: 80px;
}

.hide {
    display: none;
}

.centered {
    align-self: center;
}

.text-center {
    text-align: center;
}



#puzzle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    
}

#puzzle-name {
    font-size: 40px;
    margin-bottom: 0px;
}

#print-link {
    width: 235px;
    height: 30px;
    
    color: var(--title-color);
    text-align: center;
}

#list-header {
    font-size: 35px;
    margin-bottom: 15px;
}

.arial {
    font-family: Arial;
}

.comic-sans {
    font-family: Comic Sans MS;
}

.big-letters {
    font-size: 40px;
}

.medium-letters {
    font-size: 30px;
}

.small-letters {
    font-size: 20px;
}

.puzzle-text {
    font-family: monospace;
    /* font-size: 25px; */
}

/* #puzzle-table {
    margin-left: 60px;
    margin-right: 

} */




