/* header h1 {
    font-size: 90px;
    margin-top: 10px;
    margin-bottom: 5px;
} */

#sub-heading {

    color: rgb(90, 90, 250);
    justify-content: center;
}

#play {
    opacity: 50%;
}

#open {
    margin-top: 50px;
}
